aiohttp==3.6.2
alembic==1.3.2
appdirs==1.4.3
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.8.2
browser-cookie3==0.9.1
bs4==0.0.1
certifi==2019.11.28
cffi==1.13.2; python_version >= "3.5" and python_version < "4.0" and sys_platform == "linux" or sys_platform == "linux"
chardet==3.0.4
click==7.0
colorama==0.4.3; sys_platform == "win32" or platform_system == "Windows"
configparser==4.0.2
cryptography==2.8; python_version >= "3.5" and python_version < "4.0" and sys_platform == "linux" or sys_platform == "linux"
cssselect==1.1.0
dataset==1.1.2
fake-useragent==0.1.11
future==0.18.2
idna==2.8
jeepney==0.4.1; python_version >= "3.5" and python_version < "4.0" and sys_platform == "linux" or sys_platform == "linux"
jsonschema==3.2.0
keyring==19.3.0
loguru==0.3.2
lxml==4.4.2
lz4==2.2.1
mako==1.1.0
markupsafe==1.1.1
multidict==4.7.2
parse==1.14.0
pbkdf2==1.3
pyaes==1.6.1
pycparser==2.19; python_version >= "3.5" and python_version < "4.0" and sys_platform == "linux" or sys_platform == "linux"
pyee==6.0.0
pyppeteer==0.0.25
pyquery==1.4.1
pyrsistent==0.14.11
python-dateutil==2.8.1
python-editor==1.0.4
pywin32-ctypes==0.2.0; python_version >= "3.5" and python_version < "4.0" and sys_platform == "win32" or sys_platform == "win32"
pyyaml==5.2
requests==2.22.0
requests-html==0.10.0
secretstorage==3.1.1; python_version >= "3.5" and python_version < "4.0" and sys_platform == "linux" or sys_platform == "linux"
six==1.13.0
soupsieve==1.9.5
sqlalchemy==1.3.12
tqdm==4.41.0
urllib3==1.25.7
w3lib==1.21.0
websockets==8.1
win32-setctime==1.0.1; sys_platform == "win32"
yarl==1.4.2
